*.d
*.glob
*.vio
*.vo
*.vok
*.vos
.*.aux
.coq-native/
.lia.cache
/Applicative.hs
/Comonad.hs
/Datatypes.hs
/Free.hs
/Functor.hs
/Identity.hs
/Ltac.hs
/Makefile.bak
/Makefile.coq
/Makefile.coq.conf
/Maybe.hs
/Monad.hs
/Monoid.hs
/Prelude0.hs
/Semigroup.hs
/State.hs
/State0.hs
/Tuple.hs
/Yoneda.hs
/extract
